body { background: #f6f6f6; -webkit-font-smoothing: antialiased; font-family: "jaf-facitweb", sans-serif; padding-top: 72px; font-size: 15px; background: #f4f4f4 url("../images/bg-pattern2.gif") repeat; background-size: 300px 300px; }
body a { color: #2ea9f1; }
body.single section h1, body.page section h1 { margin-bottom: 20px; }
body.modal-open { margin-right: 0; }
body.modal-open .navbar-fixed-top { margin-right: 0; }
body .flat { margin-bottom: 0; }
body.page-template-cbe-retreat .navbar .navbar-collapse { display: none !important; }
body.page-template-hawaii, body.page-template-hawaii, body.page-template-cbe-retreat { background: black; }
body.page-template-hawaii .navbar .navbar-collapse .navbar-nav li a, body.page-template-hawaii .navbar .navbar-collapse .navbar-nav li a, body.page-template-cbe-retreat .navbar .navbar-collapse .navbar-nav li a { color: #dadada; }
body.page-template-hawaii .navbar .navbar-collapse .navbar-nav li.signup a, body.page-template-hawaii .navbar .navbar-collapse .navbar-nav li.signup a, body.page-template-cbe-retreat .navbar .navbar-collapse .navbar-nav li.signup a { background: transparent !important; }
body.page-template-hawaii footer, body.page-template-hawaii footer, body.page-template-cbe-retreat footer { margin-top: 0 !important; }
body.home, body.page-template-hawaii, body.page-template-hawaii-thank-you, body.page-template-cbe-retreat { padding-top: 0; }
body.home .navbar-fixed-top, body.page-template-hawaii .navbar-fixed-top, body.page-template-hawaii-thank-you .navbar-fixed-top, body.page-template-cbe-retreat .navbar-fixed-top { background: rgba(0, 0, 0, 0.35); border-bottom-color: rgba(0, 0, 0, 0.15); }
body.home .navbar-fixed-top .navbar-toggle, body.page-template-hawaii .navbar-fixed-top .navbar-toggle, body.page-template-hawaii-thank-you .navbar-fixed-top .navbar-toggle, body.page-template-cbe-retreat .navbar-fixed-top .navbar-toggle { border: none; background: none; margin-top: 7px; margin-right: 5px; margin-bottom: 0; }
body.home .navbar-fixed-top .navbar-toggle .icon-bar, body.page-template-hawaii .navbar-fixed-top .navbar-toggle .icon-bar, body.page-template-hawaii-thank-you .navbar-fixed-top .navbar-toggle .icon-bar, body.page-template-cbe-retreat .navbar-fixed-top .navbar-toggle .icon-bar { background: white; height: 2px; width: 28px; border-radius: 0; }
body.home .navbar-fixed-top .navbar-toggle span, body.page-template-hawaii .navbar-fixed-top .navbar-toggle span, body.page-template-hawaii-thank-you .navbar-fixed-top .navbar-toggle span, body.page-template-cbe-retreat .navbar-fixed-top .navbar-toggle span { font-size: 9px; color: white; }
body.home .navbar-fixed-top .navbar-toggle:hover, body.page-template-hawaii .navbar-fixed-top .navbar-toggle:hover, body.page-template-hawaii-thank-you .navbar-fixed-top .navbar-toggle:hover, body.page-template-cbe-retreat .navbar-fixed-top .navbar-toggle:hover { background: none; border: none; }
body.home .navbar-fixed-top .navbar-toggle:hover .icon-bar, body.page-template-hawaii .navbar-fixed-top .navbar-toggle:hover .icon-bar, body.page-template-hawaii-thank-you .navbar-fixed-top .navbar-toggle:hover .icon-bar, body.page-template-cbe-retreat .navbar-fixed-top .navbar-toggle:hover .icon-bar { background: #5ebdf4; }
body.home .navbar-fixed-top .navbar-toggle:hover span, body.page-template-hawaii .navbar-fixed-top .navbar-toggle:hover span, body.page-template-hawaii-thank-you .navbar-fixed-top .navbar-toggle:hover span, body.page-template-cbe-retreat .navbar-fixed-top .navbar-toggle:hover span { color: #5ebdf4; }
body.home .navbar-fixed-top.light, body.page-template-hawaii .navbar-fixed-top.light, body.page-template-hawaii-thank-you .navbar-fixed-top.light, body.page-template-cbe-retreat .navbar-fixed-top.light { background: rgba(252, 252, 252, 0.95); border-bottom-color: rgba(0, 0, 0, 0.15); }
body.home .navbar-fixed-top.light .navbar-toggle, body.page-template-hawaii .navbar-fixed-top.light .navbar-toggle, body.page-template-hawaii-thank-you .navbar-fixed-top.light .navbar-toggle, body.page-template-cbe-retreat .navbar-fixed-top.light .navbar-toggle { border: none; background: none; margin-top: 7px; margin-bottom: 0px; }
body.home .navbar-fixed-top.light .navbar-toggle .icon-bar, body.page-template-hawaii .navbar-fixed-top.light .navbar-toggle .icon-bar, body.page-template-hawaii-thank-you .navbar-fixed-top.light .navbar-toggle .icon-bar, body.page-template-cbe-retreat .navbar-fixed-top.light .navbar-toggle .icon-bar { background: #4d5052; height: 2px; width: 38px; border-radius: 0; }
body.home .navbar-fixed-top.light .navbar-toggle span, body.page-template-hawaii .navbar-fixed-top.light .navbar-toggle span, body.page-template-hawaii-thank-you .navbar-fixed-top.light .navbar-toggle span, body.page-template-cbe-retreat .navbar-fixed-top.light .navbar-toggle span { font-size: 11px; color: #4d5052; }
body.home .navbar-fixed-top.light .navbar-toggle:hover, body.page-template-hawaii .navbar-fixed-top.light .navbar-toggle:hover, body.page-template-hawaii-thank-you .navbar-fixed-top.light .navbar-toggle:hover, body.page-template-cbe-retreat .navbar-fixed-top.light .navbar-toggle:hover { background: none; border: none; }
body.home .navbar-fixed-top.light .navbar-toggle:hover .icon-bar, body.page-template-hawaii .navbar-fixed-top.light .navbar-toggle:hover .icon-bar, body.page-template-hawaii-thank-you .navbar-fixed-top.light .navbar-toggle:hover .icon-bar, body.page-template-cbe-retreat .navbar-fixed-top.light .navbar-toggle:hover .icon-bar { background: #5ebdf4; }
body.home .navbar-fixed-top.light .navbar-toggle:hover span, body.page-template-hawaii .navbar-fixed-top.light .navbar-toggle:hover span, body.page-template-hawaii-thank-you .navbar-fixed-top.light .navbar-toggle:hover span, body.page-template-cbe-retreat .navbar-fixed-top.light .navbar-toggle:hover span { color: #5ebdf4; }
body.home .navbar-fixed-top.light .navbar-collapse .navbar-nav li.signup a, body.page-template-hawaii .navbar-fixed-top.light .navbar-collapse .navbar-nav li.signup a, body.page-template-hawaii-thank-you .navbar-fixed-top.light .navbar-collapse .navbar-nav li.signup a, body.page-template-cbe-retreat .navbar-fixed-top.light .navbar-collapse .navbar-nav li.signup a { color: white; }
body.home .navbar-fixed-top.light .navbar-collapse .navbar-nav li a, body.page-template-hawaii .navbar-fixed-top.light .navbar-collapse .navbar-nav li a, body.page-template-hawaii-thank-you .navbar-fixed-top.light .navbar-collapse .navbar-nav li a, body.page-template-cbe-retreat .navbar-fixed-top.light .navbar-collapse .navbar-nav li a { color: rgba(0, 0, 0, 0.65); }
body.home .navbar-fixed-top.light .navbar-brand, body.page-template-hawaii .navbar-fixed-top.light .navbar-brand, body.page-template-hawaii-thank-you .navbar-fixed-top.light .navbar-brand, body.page-template-cbe-retreat .navbar-fixed-top.light .navbar-brand { color: rgba(0, 0, 0, 0.65); }
body.home .navbar-fixed-top .navbar-brand, body.page-template-hawaii .navbar-fixed-top .navbar-brand, body.page-template-hawaii-thank-you .navbar-fixed-top .navbar-brand, body.page-template-cbe-retreat .navbar-fixed-top .navbar-brand { color: white; }
body.home .navbar-fixed-top .navbar-collapse .navbar-nav li a, body.page-template-hawaii .navbar-fixed-top .navbar-collapse .navbar-nav li a, body.page-template-hawaii-thank-you .navbar-fixed-top .navbar-collapse .navbar-nav li a, body.page-template-cbe-retreat .navbar-fixed-top .navbar-collapse .navbar-nav li a { color: white; }
body h1, body h2, body h3, body h4, body h5 { font-family: "jaf-facitweb", sans-serif; font-weight: 600; }
body h1.flat, body h2.flat, body h3.flat, body h4.flat, body h5.flat { margin-bottom: 10px; }

.tooltip .tooltip-inner { font-size: 13px; padding: 8px 16px; }

.btn-lg, .hawaii .sc-payment-btn, .ojai .sc-checkout-form .sc-payment-btn { border-radius: 4px; }
.btn-lg i, .hawaii .sc-payment-btn i, .ojai .sc-checkout-form .sc-payment-btn i { font-size: 0.8em; }

.btn-white { background: white; color: #212121; }
.btn-white:hover { background: #e6e6e6 !important; color: #212121 !important; }

.btn-primary, .navbar .navbar-collapse .navbar-nav li.signup a, .navbar .navbar-collapse .navbar-nav li.active.signup a, .hawaii .sc-payment-btn, .ojai .sc-checkout-form .sc-payment-btn { background-color: #2ea9f1; border-color: #2ea9f1; border-radius: 4px; }

.btn-lg, .hawaii .sc-payment-btn, .ojai .sc-checkout-form .sc-payment-btn { border-radius: 4px; font-size: 16px; border: none; -webkit-font-smoothing: antialiased; padding: 12px 24px; }
.btn-lg i, .hawaii .sc-payment-btn i, .ojai .sc-checkout-form .sc-payment-btn i { font-size: 0.8em; }
.btn-lg:hover, .hawaii .sc-payment-btn:hover, .ojai .sc-checkout-form .sc-payment-btn:hover { background: #3ba689; border-color: #3ba689; color: white; }
.btn-lg i, .hawaii .sc-payment-btn i, .ojai .sc-checkout-form .sc-payment-btn i { font-size: 80%; }
.btn-lg.secondary, .hawaii .secondary.sc-payment-btn, .ojai .sc-checkout-form .secondary.sc-payment-btn { background-color: #56c3a6; background-image: -webkit-linear-gradient(-90deg, #56c3a6, #43bc9c 100%); border-color: #3ba689; }
.btn-lg:hover, .hawaii .sc-payment-btn:hover, .ojai .sc-checkout-form .sc-payment-btn:hover { background: #3ba689; border-color: #3ba689; box-shadow: none; }

.headline, section h1 { font-size: 36px; text-align: center; font-weight: normal; margin: 10px 0 40px; }

.navbar { height: 72px; background: #fcfcfc; border-bottom-color: rgba(0, 0, 0, 0.08); top: 0; }
.navbar .navbar-header .navbar-brand { padding: 0 20px; line-height: 72px; color: rgba(0, 0, 0, 0.65); }
.navbar .navbar-header .navbar-toggle { border: none; background: none; margin-top: 10px; margin-bottom: 0; }
.navbar .navbar-header .navbar-toggle .icon-bar { background: #4d5052; height: 2px; width: 28px; border-radius: 0; }
.navbar .navbar-header .navbar-toggle span { font-size: 9px; color: #4d5052; }
.navbar .navbar-header .navbar-toggle:hover { background: none; border: none; }
.navbar .navbar-header .navbar-toggle:hover .icon-bar { background: #5ebdf4; }
.navbar .navbar-header .navbar-toggle:hover span { color: #5ebdf4; }
.navbar .navbar-collapse .navbar-nav li.signup a { color: white; line-height: 1; margin-top: 18px; padding: 9px 12px 10px; font-size: 14px; }
.navbar .navbar-collapse .navbar-nav li.signup a:hover { background: #3ba689 !important; border-color: #3ba689 !important; color: white !important; }
.navbar .navbar-collapse .navbar-nav li.active.signup a { color: white; line-height: 1; margin-top: 18px; padding: 9px 12px 10px; font-size: 14px; }
.navbar .navbar-collapse .navbar-nav li.active.signup a:hover { background: #3ba689 !important; border-color: #3ba689 !important; color: white !important; }
.navbar .navbar-collapse .navbar-nav li.doula a { padding-left: 5px; }
.navbar .navbar-collapse .navbar-nav li a { line-height: 72px; padding: 0 18px; color: rgba(0, 0, 0, 0.65); }
.navbar .navbar-collapse .navbar-nav li a:hover { color: #5ebdf4 !important; }
.navbar .navbar-collapse .navbar-nav li.active a { background: transparent; border: none; }
.navbar .navbar-collapse .navbar-nav li.active a:hover { color: #5ebdf4; }

body.single .card { padding-top: 280px; }
body.single .card header { background-size: cover; background-position: 50% 50%; height: 260px; position: absolute; top: 0; left: 0; right: 0; text-align: center; z-index: 1; }
body.single .card header .overlay { display: table; height: 260px; position: absolute; top: 0; left: 0; right: 0; width: 100%; text-align: center; background: rgba(0, 0, 0, 0.5); z-index: 2; }
body.single .card header .overlay h1 { padding: 0 30px !important; display: table-cell; vertical-align: middle; font-size: 40px; font-weight: 100; color: white; line-height: 1.3; border: none; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); }
body.single .card .entry-content p { line-height: 1.9; }
body.single .card .entry-content ul li { margin-bottom: 20px; }

section { padding: 2em 0; }
section#blog .card p { margin-bottom: 0; line-height: 1.6; }
section.pale { background: #edf8fe; }
section.gradient { background-color: #0b78aa; background-image: -webkit-linear-gradient(top, #0d9ec2, #afd9ca); background-image: linear-gradient(to bottom, #0d9ec2, #afd9ca); background-size: cover; }
section h1.flat { margin-bottom: 10px; }
section .snippet { text-align: center; font-size: 16px; margin-bottom: 30px; }
section h2 { text-align: center; color: #4d5052; }
section .entry-content .left { float: left; margin: 0 20px 10px 0; }
section .entry-content p { color: #555; font-size: 15px; margin-bottom: 24px; line-height: 1.6; }
section .entry-content h2, section .entry-content h3, section .entry-content h4 { font-weight: normal; }
section .entry-content ul { margin-bottom: 30px; }
section .entry-content ul li { font-size: 15px; margin-bottom: 10px; }

#hero { padding: 144px 0; box-shadow: inset 0 -1px 8px rgba(0, 0, 0, 0.1); min-height: 680px; background: url("../images/home-birth-5.jpg") 50% 0% no-repeat; background-size: cover; background-position: fixed; text-align: center; color: #efefef; }
#hero.light { background-image: -webkit-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 100%, rgba(16, 47, 70, 0.96)), -webkit-linear-gradient(108deg, #00c4c2, #005e90 90%); padding: 3em 0; min-height: 0px; }
#hero.light h1, #hero.light h2, #hero.light ul li { text-shadow: none; }
#hero h1 { font-size: 3em; font-weight: bold; text-transform: none; margin-bottom: 10px; color: #efefef; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9); }
#hero h2 { font-size: 1.65em; font-weight: normal; color: white; margin: 0 0 1.5em; line-height: 1.5; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9); }
#hero ul { margin-bottom: 30px; list-style-type: none; display: inline-block; }
#hero ul li { font-size: 1.6em; margin-bottom: 10px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9); text-align: left; }
#hero ul li i { font-size: 80%; margin-right: 8px; }
#hero .btn-default { background: rgba(0, 0, 0, 0.4); border-color: rgba(0, 0, 0, 0.2); color: white; margin-left: 10px; font-size: 16px; padding: 12px 24px; }
#hero .btn-default i { font-size: 0.8em; top: -1px; }
#hero .btn-default:hover { background: rgba(0, 0, 0, 0.55); border-color: transparent; }

.announcements { padding-bottom: 5em; background: white; font-size: 15px; }
.announcements strong { display: block; font-size: 20px; }
.announcements a { margin: 4px 0 0 0; }

#testimonials { background: #fcfcfc; }
#testimonials h1 { font-size: 30px; }
#testimonials .modal .modal-dialog { left: auto; }
#testimonials .modal .modal-content { border-radius: 0; max-height: 360px; }
#testimonials .modal .modal-body { padding: 0; }
#testimonials .modal .modal-body iframe { margin-left: -1px; }
#testimonials .modal .close { font-weight: normal; text-shadow: none; position: absolute; top: -14px; right: -14px; background: #333; color: white; opacity: 1; width: 28px; height: 28px; border-radius: 14px; z-index: 10; }
#testimonials .modal .close:hover { color: #333; background: white; }
#testimonials i { top: 0px; font-size: 70%; }
#testimonials i.glyphicon-heart { color: #c92139; font-size: 90%; top: 2px; }
#testimonials .photo { position: relative; display: inline-block; margin-bottom: 0px; height: 160px; }
#testimonials .photo:hover img { border-color: #777; }
#testimonials .photo a { width: 100%; height: 100%; background: url("../images/play-btn.gif") 94% 90% no-repeat; background-size: 48px 48px; display: block; position: absolute; opacity: 0.4; z-index: 10; }
#testimonials .photo a:hover { opacity: 0.75; cursor: pointer; }
#testimonials .photo img { height: 160px; width: auto; }
#testimonials h2 { font-weight: normal; font-size: 18px; margin: 0 0 20px; }
#testimonials blockquote { display: inline-block; max-width: 90%; position: relative; border-radius: 2px; padding: 15px 20px; font-family: Georgia, serif; font-style: italic; color: #555; border: none; font-size: 16px; line-height: 1.5; margin: 0 0 20px 0; clear: both; }
#testimonials blockquote small { margin-top: 10px; font-size: 105%; }

#method { text-align: center; }
#method h1 { margin-bottom: 20px; color: #28504e; font-size: 30px; }
#method h2 { font-size: 16px; font-weight: normal; line-height: 1.5; margin-bottom: 30px; }

#faq { background: white; }
#faq h1 { color: #212121; }

.breadcrumb { background: transparent; padding: 0; }

.panel-group .panel { margin-bottom: 1em; }
.panel-group .panel .panel-title { padding: 8px 0px; }
.panel-group .panel .panel-title a { font-size: 18px; font-weight: normal; }
.panel-group .panel .panel-title a i { margin-right: 6px; top: 2px; }
.panel-group .panel .panel-title a .glyphicon-chevron-right { display: none; }
.panel-group .panel .panel-title a .glyphicon-chevron-down { display: inline-block; top: 4px; }
.panel-group .panel .panel-title a.collapsed .glyphicon-chevron-right { display: inline-block; }
.panel-group .panel .panel-title a.collapsed .glyphicon-chevron-down { display: none; }
.panel-group .panel .panel-body { padding: 20px; font-size: 17px; line-height: 1.6; }

#classes h1 { color: #212121; font-weight: bold; font-size: 40px; letter-spacing: 0; text-transform: none; }
#classes h2 { color: #212121; text-align: left; margin: 10px 0 20px; font-size: 28px; }
#classes h2 a { color: #212121; }
#classes h2 a:hover { color: #5ebdf4; }
#classes h3 { margin-top: 10px; font-weight: normal; color: #545454; text-transform: uppercase; font-size: 15px; letter-spacing: 1px; }
#classes .card { padding: 20px; }
#classes .card .ribbon { display: none; }
#classes .card.Hawaii .ribbon { display: block; position: absolute; top: 0; right: 0; width: 150px; height: auto; border: none; padding: 0; border-radius: 0; z-index: 99; }
#classes .card p { font-size: 14px; }
#classes .card a:hover { text-decoration: none; }

.card { border: 1px solid rgba(0, 0, 0, 0.1); background: white; padding: 30px; border-radius: 4px; margin-bottom: 20px; position: relative; }
.card a.trigger { display: block; position: absolute; width: 100%; height: 100%; z-index: 10; }
.card p { margin-bottom: 30px; }
.card p.flat { margin-bottom: 0; }
.card img { padding: 5px; border: 1px solid #dadada; max-width: 100%; height: auto; }
.card .btn-primary, .card .navbar .navbar-collapse .navbar-nav li.signup a, .navbar .navbar-collapse .navbar-nav li.signup .card a, .card .hawaii .sc-payment-btn, .hawaii .card .sc-payment-btn, .card .ojai .sc-checkout-form .sc-payment-btn, .ojai .sc-checkout-form .card .sc-payment-btn { font-size: 13px; font-weight: bold; padding: 10px 24px; border: 1px solid #5ebdf4; border-radius: 5px !important; }

.popover { width: 350px !important; max-width: 500px !important; font-size: 13px; line-height: 1.6; }

.sc-payment-details-wrap { text-align: center; font-size: 20px; background: rgba(0, 0, 0, 0.3); color: white !important; border-radius: 5px; padding: 20px; }
.sc-payment-details-wrap p { font-size: 20px !important; color: white !important; }

body.page-template-sign-up-new, body.page-template-sign-up-newest, body.page-template-sign-up { background: #f5f5f5; }

#signup h1 { margin-bottom: 50px; }
#signup .intro { margin-bottom: 40px; }
#signup .table { background: white; border: 1px solid #dadada; }
#signup .table tbody tr td, #signup .table tbody tr th, #signup .table thead tr td, #signup .table thead tr th { text-align: left; padding: 24px 12px; font-size: 13px; }
#signup .tabbable .nav-tabs { text-align: center; }
#signup .tabbable .nav-tabs > li { float: none; display: inline-block; margin-right: 8px; }
#signup .tabbable .nav-tabs > li:first-child { margin-left: 15px; }
#signup .tabbable .nav-tabs > li a { font-size: 16px; color: #212121; padding: 12px 40px; background: #e9e9e9; border: 1px solid #dadada; }
#signup .tabbable .nav-tabs > li a:hover { background: white; }
#signup .tabbable .nav-tabs .active a { background: #f5f5f5; border-bottom-color: #f5f5f5; }
#signup .tabbable .nav-tabs .active a:hover { background: #f5f5f5; border-bottom-color: #f5f5f5; }
#signup .tabbable .tab-content { background: transparent; border: none; }
#signup .tabbable .tab-content .tab-pane { padding: 0px 0; }
#signup .tabbable .tab-content .tab-pane.schedule { padding: 0; }
#signup .tabbable .tab-content .tab-pane .or { line-height: 400px; text-align: center; }
#signup h1 { color: #212121; font-weight: bold; font-size: 40px; letter-spacing: 0; text-transform: none; }
#signup .stripe-button-el span { padding: 12px 24px; line-height: 1; font-family: "Facit", sans-serif; height: auto; }
#signup .stripe-button-el:disabled { border-color: #7DC5EE; }
#signup .stripe-button-el:disabled span, #signup .stripe-button-el.disabled span { background: #7DC5EE; border-color: #7DC5EE; text-shadow: none; color: white; }
#signup .card { position: relative; }
#signup .card .ribbon { width: 172px; height: 48px; background: url("../images/ribbon.png") 0 0 no-repeat; background-size: 172px 48px; position: absolute; left: -10px; top: 55px; z-index: 99; }
#signup .card:before { content: ""; position: absolute; left: -1px; right: -1px; border: 3px solid #5ebdf4; border-radius: 4px 4px 0 0; top: -3px; }
#signup .card:before label:hover { color: #212121 !important; cursor: default; }
#signup .card:before:before { border-color: #5ebdf4; }
#signup .card:before .checkbox { padding-left: 0; }
#signup .card:before .glyphicon-ok { font-size: 16px; margin-right: 8px; }
#signup .card h3 { margin: 10px 0 10px; font-size: 28px; font-weight: bold; color: #212121; text-align: center; text-transform: none; }
#signup .card h3 .label { font-size: 11px; font-weight: normal; -webkit-font-smoothing: antialiased; }
#signup .card p { line-height: 1.7; font-size: 13px; }
#signup .card .checkbox { font-size: 14px; margin: 0; width: 100%; padding: 0; padding-left: 15px; border-bottom: 1px dotted #efefef; }
#signup .card .checkbox:hover { cursor: pointer; }
#signup .card .checkbox label { font-size: 14px; padding: 10px 0; max-width: 75%; display: inline-block; }
#signup .card .checkbox label em { font-style: normal; position: absolute; right: 45px; font-weight: bold; text-align: right; }
#signup .card .checkbox label em small { font-weight: normal; }
#signup .card .checkbox label span { color: #999; font-size: 14px; letter-spacing: 1px; }
#signup .card .checkbox label:hover { color: #5ebdf4; }
#signup .card .checkbox label .check { margin: 5px 9px 0 0; display: inline-block; top: 0; line-height: 50px; }
#signup .card .checkbox.mentorship { text-align: right; font-size: 13px; border: none; }
#signup .card .checkbox.mentorship label { font-size: 13px; }
#signup .card .checkbox.mentorship i { color: #5ebdf4; font-size: 14px; top: 2px; }
#signup .sc-checkout-form { margin-bottom: 0; }
#signup .sc-checkout-form .sc-form-group { float: left; width: 36%; padding: 0 8px 0 0; overflow: auto; margin-bottom: 0; }
#signup .sc-checkout-form .sc-form-group input { width: 100%; padding: 10px 12px; }
#signup .sc-checkout-form .sc-payment-btn { float: left; width: 28%; }
#signup .checkout { margin-top: 20px; }
#signup .checkout small { text-align: left; display: block; margin-bottom: 5px; }
#signup .checkout input { clear: both; }
#signup .checkout #placeholder { display: block; }
#signup .checkout br { display: none; }
#signup .checkout img { max-width: 90px; }

iframe .checkoutView header > .content > .title > h2 { text-transform: capitalize; }

.faq h1 { font-size: 28px; }
.faq .panel-group .panel-default .panel-heading { background: white; }
.faq .panel-group .panel-default .panel-heading .panel-title a { font-size: 15px; }
.faq .panel-group .panel-default .panel-body { font-size: 14px; }

#schedule { padding-top: 2em; }

#doulas .card { padding: 15px; }
#doulas .card p { font-size: 14px; color: #222; margin: 0; }
#doulas .card img { margin-bottom: 15px; }
#doulas .card h2 { margin: 0 0 10px 0; padding: 0 0 10px; border-bottom: 1px solid #efefef; text-align: center; font-size: 18px; line-height: 1.5; font-weight: normal; }
#doulas .card h2 a { font-weight: bold; font-size: 18px; }
#doulas .card h2 small { display: block; font-size: 14px; }
#doulas .card h3 { font-weight: normal; color: #777; text-transform: uppercase; font-size: 15px; line-height: 24px; }
#doulas .card h3 small { color: #222; font-size: 14px; text-transform: none; }
#doulas .card .btn, #doulas .card .hawaii .sc-payment-btn, .hawaii #doulas .card .sc-payment-btn, #doulas .card .ojai .sc-checkout-form .sc-payment-btn, .ojai .sc-checkout-form #doulas .card .sc-payment-btn { margin-top: 20px; color: #5ebdf4; font-weight: bold; font-size: 12px; border-color: #efefef; background: #f9f9f9; padding: 10px 10px; }
#doulas .card .btn:hover, #doulas .card .hawaii .sc-payment-btn:hover, .hawaii #doulas .card .sc-payment-btn:hover, #doulas .card .ojai .sc-checkout-form .sc-payment-btn:hover, .ojai .sc-checkout-form #doulas .card .sc-payment-btn:hover { background: #f5f5f5; border-color: #dadada; }

#thank-you { text-align: center; background: url("../images/lotus.jpg") 50% 50%; min-height: 600px; background-size: cover; color: white; font-size: 20px; }
#thank-you h1 { margin-bottom: 5px; }
#thank-you h1, #thank-you h2 { color: white; }

#main .inner { border: 1px solid #dadada; background: white; padding: 40px; }

#content { margin-top: 0em; }
#content .card h1 { border-bottom: 1px solid #efefef; padding: 0 0 15px 0; margin-bottom: 20px; }
#content .card ul { margin: 0 0 30px; }
#content .card ul li { margin-bottom: 10px; }
#content .entry-content { padding-top: 0; }
#content .entry-content .left { float: left; margin: 0 20px 10px 0; }
#content .entry-content blockquote small { display: inline-block; font-style: normal; }
#content .entry-content blockquote p { margin: 0; font-family: Georgia, serif; font-style: italic; }
#content .entry-content h3 { font-weight: normal; }
#content .entry-content p { color: #555; font-size: 15px; line-height: 1.6; margin-bottom: 34px; }

.back { float: right; }

.tabbable .nav-tabs a { font-size: 17px; padding: 12px 24px; }
.tabbable .tab-content { padding: 2em 10px 0; background: white; border: 1px solid #dadada; border-top: none; }
.tabbable .tab-content td { font-size: 14px; }
.tabbable .tab-content h2 { font-weight: normal; font-size: 28px; text-transform: uppercase; margin: 0 0 20px; color: #777; letter-spacing: 1px; }
.tabbable .tab-content td.middle { text-align: left; }

.table { margin-bottom: 0; }
.table thead tr th { border: none; }
.table tbody tr td { padding: 15px; vertical-align: middle; text-align: center; }
.table tbody tr td p { margin: 5px 0; }

#about .headshot { float: left; margin: 0 20px 20px 0; width: 275px; height: auto; }
#about p.flat { margin-bottom: 0; }
#about .linkedin { width: 132px; height: 40px; display: inline-block; background: url("../images/linkedin.gif") 0 0 no-repeat; background-size: 132px 40px; text-indent: 140px; color: white; }

#contact { text-align: center; }
#contact form { width: 500px; display: inline-block; }
#contact form label { text-align: left; display: block; font-size: 18px; margin-bottom: 5px; }
#contact form input[type="text"], #contact form input[type="email"], #contact form textarea { padding: 10px 16px; font-size: 18px; min-height: 47px; line-height: 1.6; width: 100%; border-radius: 5px; border: 1px solid #ccc; }
#contact form input[type="submit"] { padding: 10px 30px; font-size: 18px; -webkit-font-smoothing: antialiased; color: white; background: #56c3a6; border-color: #56c3a6; }
#contact form input[type="submit"]:hover { background: #3ba689 !important; border-color: #3ba689 !important; }

.sidebar { background: none; padding-top: 0; border: none; border-radius: 0; box-shadow: none; }
.sidebar .inner { background: #edf8fe; border: 1px solid rgba(0, 0, 0, 0.15); padding: 20px; }

.promotion .modal-dialog { width: 760px; height: auto; }
.promotion .modal-dialog .modal-content { background: #212121 url("../images/hawaii-ocean.jpg") 50% 50% no-repeat; background-size: cover; color: white; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6); }
.promotion .modal-dialog .modal-content .modal-header { background: rgba(0, 0, 0, 0.25); border: none; }
.promotion .modal-dialog .modal-content .modal-header .close { text-shadow: none; color: white; opacity: 0.8; }
.promotion .modal-dialog .modal-content .modal-header .close:hover { opacity: 1; }
.promotion .modal-dialog .modal-content .modal-header .modal-title { font-weight: normal; }
.promotion .modal-dialog .modal-content .modal-body { padding: 4em; text-align: center; }
.promotion .modal-dialog .modal-content .modal-body h2 { font-size: 46px; line-height: 1.3; }
.promotion .modal-dialog .modal-content .modal-body p { font-size: 20px; line-height: 1.7; margin-bottom: 30px; }
.promotion .modal-dialog .modal-content .modal-body .btn-primary, .promotion .modal-dialog .modal-content .modal-body .navbar .navbar-collapse .navbar-nav li.signup a, .navbar .navbar-collapse .navbar-nav li.signup .promotion .modal-dialog .modal-content .modal-body a, .promotion .modal-dialog .modal-content .modal-body .hawaii .sc-payment-btn, .hawaii .promotion .modal-dialog .modal-content .modal-body .sc-payment-btn, .promotion .modal-dialog .modal-content .modal-body .ojai .sc-checkout-form .sc-payment-btn, .ojai .sc-checkout-form .promotion .modal-dialog .modal-content .modal-body .sc-payment-btn { text-shadow: none; margin-right: 10px; }
.promotion .modal-dialog .modal-content .modal-body .btn-primary i, .promotion .modal-dialog .modal-content .modal-body .navbar .navbar-collapse .navbar-nav li.signup a i, .navbar .navbar-collapse .navbar-nav li.signup .promotion .modal-dialog .modal-content .modal-body a i, .promotion .modal-dialog .modal-content .modal-body .hawaii .sc-payment-btn i, .hawaii .promotion .modal-dialog .modal-content .modal-body .sc-payment-btn i, .promotion .modal-dialog .modal-content .modal-body .ojai .sc-checkout-form .sc-payment-btn i, .ojai .sc-checkout-form .promotion .modal-dialog .modal-content .modal-body .sc-payment-btn i { font-size: 0.75em; top: 0; }
.promotion .modal-dialog .modal-content .modal-body .btn-default { background: rgba(0, 0, 0, 0.5); border: none; color: white; }
.promotion .modal-dialog .modal-content .modal-body .btn-default:hover { text-decoration: underline; }
.promotion .modal-dialog .modal-content .modal-body .btn-default i { font-size: 0.75em; top: 0; }

.hawaii { background: rgba(0, 0, 0, 0.3); background-size: cover; min-height: 708px; padding-top: 12em; position: relative; }
.hawaii .video { z-index: -1; position: absolute; right: 0; left: 0; top: 0; height: 708px; overflow: hidden; min-width: 1045px; opacity: 0; filter: alpha(opacity=0); -webkit-transition: 1s opacity ease-in-out; transition: 1s opacity ease-in-out; }
.hawaii .video.in { filter: alpha(opacity=100); opacity: 1; }
.hawaii .video video { width: 100%; position: absolute; bottom: 0; }
.hawaii .video .curtain { max-height: 100%; position: absolute; z-index: 3; top: 0; background: rgba(0, 0, 0, 0.2); width: 100%; display: block; bottom: 0; }
.hawaii .content { opacity: 0; filter: alpha(opacity=0); -webkit-transition: 1.5s opacity ease-in-out; transition: 1.5s opacity ease-in-out; }
.hawaii .content.in { opacity: 1; filter: alpha(opacity=100); }
.hawaii h1 { color: white; font-weight: 600; font-size: 52px; line-height: 1.2; margin-bottom: 0 !important; }
.hawaii h2 { color: white; font-weight: normal; font-size: 28px; line-height: 1.8; margin-top: 0px; }
.hawaii h2 small { margin: 50px 0 30px; display: block; font-size: 22px; color: #efefef; }
.hawaii .btn-primary, .hawaii .navbar .navbar-collapse .navbar-nav li.signup a, .navbar .navbar-collapse .navbar-nav li.signup .hawaii a, .hawaii .sc-payment-btn, .hawaii .ojai .sc-checkout-form .sc-payment-btn, .ojai .sc-checkout-form .hawaii .sc-payment-btn { margin-left: 15px; background: #c7436f; }
.hawaii .btn-primary:hover, .hawaii .navbar .navbar-collapse .navbar-nav li.signup a:hover, .navbar .navbar-collapse .navbar-nav li.signup .hawaii a:hover, .hawaii .sc-payment-btn:hover { background: #cd577e; }
.hawaii .btn-default:hover { background: #efefef; color: #212121; }
.hawaii .sc-form-group { position: relative; }
.hawaii .sc-form-group ul.parsley-errors-list { list-style-type: none; margin-left: 0; padding-left: 0; position: absolute; top: 52px; width: 200px; }
.hawaii .sc-form-group ul.parsley-errors-list li { color: #ffffff !important; }
.hawaii .sc-form-group label { display: none; }
.hawaii .sc-form-group .sc-form-control { height: 46px; font-size: 16px; border: 1px solid #023463; border-radius: 4px; text-align: center; overflow: hidden; margin-bottom: 10px; }
.hawaii .sc-form-group .sc-form-control:active, .hawaii .sc-form-group .sc-form-control:focus { border-color: #c7436f; box-shadow: 0 0 10px rgba(199, 67, 111, 0.99); }
.hawaii .sc-form-group .sc-form-control#first_name { float: left; text-align: left; width: 32%; margin-right: 1%; }
.hawaii .sc-form-group .sc-form-control#last_name { float: left; text-align: left; width: 32%; margin-right: 1%; }
.hawaii .sc-payment-btn { color: white; display: inline-block; width: 32%; margin-right: 1%; }
.hawaii.benefits, .hawaii.features { padding: 5em 0; background: url("../images/hawaii-ocean.jpg") 50% 50% no-repeat; background-size: cover; color: white; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6); min-height: 560px; }
.hawaii.benefits h1, .hawaii.features h1 { font-weight: bold; margin-bottom: 10px !important; font-size: 50px; }
.hawaii.benefits .intro, .hawaii.features .intro { font-size: 24px; text-align: center; margin: 0 0 50px 0; }
.hawaii.benefits ul, .hawaii.features ul { list-style-type: none; margin-bottom: 40px; }
.hawaii.benefits ul li, .hawaii.features ul li { font-size: 22px; line-height: 1.8; text-align: left; margin-bottom: 20px; }
.hawaii.benefits ul li i, .hawaii.features ul li i { margin-left: -24px; font-size: 0.75em; }
.hawaii.benefits .btn, .hawaii.benefits .sc-payment-btn, .hawaii.features .btn, .hawaii.features .sc-payment-btn { text-shadow: none; }
.hawaii.benefits .btn-default:hover, .hawaii.features .btn-default:hover { background: #efefef; color: #212121; }
.hawaii.benefits .btn-primary, .hawaii.benefits .navbar .navbar-collapse .navbar-nav li.signup a, .navbar .navbar-collapse .navbar-nav li.signup .hawaii.benefits a, .hawaii.benefits .sc-payment-btn, .hawaii.features .btn-primary, .hawaii.features .navbar .navbar-collapse .navbar-nav li.signup a, .navbar .navbar-collapse .navbar-nav li.signup .hawaii.features a, .hawaii.features .sc-payment-btn { margin-left: 15px; background: #c7436f; }
.hawaii.benefits .btn-primary:hover, .hawaii.benefits .navbar .navbar-collapse .navbar-nav li.signup a:hover, .navbar .navbar-collapse .navbar-nav li.signup .hawaii.benefits a:hover, .hawaii.benefits .sc-payment-btn:hover, .hawaii.features .btn-primary:hover, .hawaii.features .navbar .navbar-collapse .navbar-nav li.signup a:hover, .navbar .navbar-collapse .navbar-nav li.signup .hawaii.features a:hover, .hawaii.features .sc-payment-btn:hover { background: #cd577e; }
.hawaii.features { background: url("../images/kalani-teaching-space.jpg") 50% 50% no-repeat; background-size: cover; }
.hawaii.features h1 { margin-bottom: 40px !important; }
.hawaii.features ul { margin-top: 0; }
.hawaii.features ul li { font-size: 19px !important; }
.hawaii.features ul li i { margin-right: 4px; }
.hawaii.features .img-thumbnail { border-radius: 0; border-color: white; margin-bottom: 25px; width: 90%; }
.hawaii#faq { padding: 5em 0; background: url("../images/hawaii-jungle.jpg") 50% 50% no-repeat; background-size: cover; }
.hawaii#faq h1 { color: white; margin-bottom: 40px !important; }
.hawaii#faq .panel-group { margin-bottom: 30px; }
.hawaii#faq .panel-group .panel .panel-heading .panel-title { padding: 2px 0; }
.hawaii#faq .panel-group .panel .panel-heading .panel-title a { font-size: 14px; }
.hawaii#faq .panel-group .panel .panel-heading .panel-title a i { font-size: 0.7em; top: 0; }
.hawaii#faq .panel-group .panel .panel-body { font-size: 14px; }
.hawaii.pricing { padding: 5em 0; background: url("../images/hawaii-turtle.jpg") 50% 50% no-repeat; background-size: cover; height: auto; min-height: 360px; }
.hawaii.pricing .sc-checkout-form .sc-form-group { width: 50% !important; margin-right: 0% !important; }
.hawaii.pricing .sc-checkout-form .sc-form-group:nth-child(2) { width: 50% !important; margin-right: 0 !important; padding-right: 0 !important; }
.hawaii.pricing .sc-checkout-form .sc-form-group .sc-form-control { width: 100% !important; float: none !important; }
.hawaii.pricing .sc-checkout-form .sc-payment-btn { width: 100% !important; }
.hawaii.pricing .container { position: relative; }
.hawaii.pricing .date { position: absolute; top: -3em; right: 0; font-size: 16px; color: white; }
.hawaii.pricing .date strong { display: block; }
.hawaii.pricing h1 { margin-bottom: 10px !important; color: white !important; }
.hawaii.pricing p.intro { font-size: 22px; margin-bottom: 40px; }
.hawaii.pricing p { color: white; font-size: 18px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); margin-bottom: 25px; }
.hawaii.pricing p.nowrap { white-space: nowrap; margin-bottom: 50px; }
.hawaii.pricing p i { font-size: 0.75em; margin-right: 8px; }
.hawaii.pricing label { font-size: 16px; text-shadow: 0px 0 1px rgba(0, 0, 0, 0.4); font-weight: normal; margin: 0; color: white; }
.hawaii.pricing .btn-primary, .hawaii.pricing .navbar .navbar-collapse .navbar-nav li.signup a, .navbar .navbar-collapse .navbar-nav li.signup .hawaii.pricing a, .hawaii.pricing .sc-payment-btn { margin: 0 0 30px 0; }
.hawaii.thank-you { height: 710px; }
.hawaii.thank-you h1 { margin-bottom: 50px !important; }
.hawaii.thank-you .video { height: 710px; }
.hawaii.thank-you .intro { font-size: 22px; color: white; text-align: center; }

.ojai { background-size: cover; text-align: center; padding: 3em 0; min-height: 500px; }
.ojai .btn-primary, .ojai .navbar .navbar-collapse .navbar-nav li.signup a, .navbar .navbar-collapse .navbar-nav li.signup .ojai a, .ojai .hawaii .sc-payment-btn, .hawaii .ojai .sc-payment-btn, .ojai .sc-checkout-form .sc-payment-btn { background: #d31b62; font-size: 17px; cursor: pointer; }
.ojai .btn-primary:hover, .ojai .navbar .navbar-collapse .navbar-nav li.signup a:hover, .navbar .navbar-collapse .navbar-nav li.signup .ojai a:hover, .ojai .hawaii .sc-payment-btn:hover, .hawaii .ojai .sc-payment-btn:hover, .ojai .sc-checkout-form .sc-payment-btn:hover { background: #e05188; }
.ojai ul { list-style-type: none; }
.ojai ul li { font-size: 18px; margin-bottom: 15px; }
.ojai h1, .ojai h2, .ojai p, .ojai ul li { color: white; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35); }
.ojai h1 { font-weight: bold; font-size: 48px; }
.ojai h2 { font-weight: normal; margin-bottom: 30px; }
.ojai h2 small { display: block; text-align: center; margin-top: 20px; font-size: 20px; color: white; }
.ojai .sc-checkout-form .sc-form-group { width: 50% !important; margin-right: 0% !important; float: left; position: relative; margin-bottom: 3px; }
.ojai .sc-checkout-form .sc-form-group:nth-child(2) { width: 50% !important; margin-right: 0 !important; padding-right: 0 !important; }
.ojai .sc-checkout-form .sc-form-group .sc-form-control { max-width: 100%; height: 48px; border: none; box-shadow: none; font-size: 16px; width: 100% !important; float: none !important; }
.ojai .sc-checkout-form .sc-form-group .sc-form-control#first_name { width: 96% !important; }
.ojai .sc-checkout-form .sc-form-group .sc-form-control#last_name { margin-left: 0px !important; }
.ojai .sc-checkout-form .sc-payment-btn { width: 100% !important; color: white; }
.ojai.hero { background: url("../images/the-view.jpg") 50% 50% no-repeat; background-size: cover; min-height: 620px; position: relative; }
.ojai.hero h1 { margin-top: 90px; }
.ojai.hero h2 { margin-bottom: 60px; }
.ojai.hero .learn-more { position: absolute; left: 0; right: 0; bottom: 0px; padding: 0; display: block; cursor: pointer; }
.ojai.hero .btn-primary, .ojai.hero .navbar .navbar-collapse .navbar-nav li.signup a, .navbar .navbar-collapse .navbar-nav li.signup .ojai.hero a, .ojai.hero .hawaii .sc-payment-btn, .hawaii .ojai.hero .sc-payment-btn, .ojai.hero .sc-checkout-form .sc-payment-btn { height: 48px; }
.ojai.hero .btn-default { border: none; background: transparent; color: white; cursor: pointer; overflow: auto; display: block !important; padding: 20px 0; }
.ojai.hero .btn-default i { font-size: 18px; display: block; }
.ojai.hero .btn-default:hover { background: rgba(0, 0, 0, 0.15); }
.ojai.benefits { background: url("../images/pool-shot.jpg") 50% 50% no-repeat; background-size: cover; }
.ojai.benefits h2 { font-size: 38px; font-weight: bold; margin-bottom: 40px; }
.ojai.benefits ul { margin-bottom: 30px; list-style-type: disc; }
.ojai.benefits ul li { font-size: 17px; text-align: left; margin-bottom: 20px; }
.ojai.mission { text-shadow: none !important; background: white; min-height: 100px; height: auto; }
.ojai.mission h2 { color: #212121; font-weight: bold; font-size: 28px; text-shadow: none; }
.ojai.mission h3 { font-weight: normal; }
.ojai.mission p { color: #666; margin-bottom: 24px; font-size: 14px; text-shadow: none; line-height: 1.7; }
.ojai.features { background: #f3f1ea; }
.ojai.features h2 { text-shadow: none; color: #212121; font-size: 38px; font-weight: bold; }
.ojai.features .img-thumbnail { margin-bottom: 8px; }
.ojai.features ul { margin-bottom: 50px; }
.ojai.features ul li { font-size: 16px; margin-bottom: 18px; text-align: left; text-shadow: none; color: #212121; line-height: 1.7; }
.ojai.features ul li i { margin-left: -24px; font-size: 12px; margin-right: 8px; }
.ojai.quotes { background: url("../images/yay.jpg") 50% 50% no-repeat; background-size: cover; }
.ojai.quotes h2 { font-weight: bold; font-size: 38px; margin-bottom: 50px; }
.ojai.quotes .text-right { text-align: right; }
.ojai.quotes img { width: 120px; height: auto; display: inline-block; }
.ojai.quotes blockquote { color: white; border: none; font-size: 17px; font-style: italic; text-align: center; line-height: 1.7; }
.ojai.quotes blockquote small { display: block; text-align: center; font-style: normal; color: white; }

.footer { margin-top: 0em !important; border: none; background: #4d5052; color: #999; font-size: 14px; margin-top: 0; text-align: center; }
.footer a { color: #999; text-decoration: underline; }
.footer ul.social-media { list-style-type: none; margin: 0 0 15px 0; padding: 0; overflow: auto; display: inline-block; }
.footer ul.social-media li { float: left; margin: 0 10px; }
.footer ul.social-media li a { text-indent: -9999px; background-size: 32px 32px; background-repeat: no-repeat; width: 32px; height: 32px; display: block; }
.footer ul.social-media li a:hover { opacity: 0.8; }
.footer ul.social-media li.facebook a { background-image: url("../images/facebook-icon.png"); background-size: 15px 32px; background-position: center center; }
.footer ul.social-media li.twitter a { background-image: url("../images/twitter-icon.png"); background-position: center center; background-size: 32px 26px; }
.footer ul.social-media li.yelp a { background-image: url("../images/yelp-icon.png"); }

@media screen and (max-width: 1199px) { header .navbar-fixed-top .navbar-collapse .navbar-nav li a { font-size: 14px; padding: 0 16px; } }
@media screen and (max-width: 991px) { .navbar .navbar-header .navbar-brand { font-size: 15px; }
  .navbar .navbar-collapse { padding: 0; }
  .navbar .navbar-collapse .navbar-nav li a { padding: 0 10px; font-size: 12px; }
  .navbar .navbar-collapse .navbar-nav li.signup a { padding: 10px 10px; font-size: 11px; }
  #hero { padding: 90px 0 30px; min-height: 360px; }
  #hero h1 { font-size: 32px; }
  #hero h2 { font-size: 18px; }
  #hero ul li { font-size: 16px; } }
@media screen and (max-width: 767px) { section .btn-lg, section .hawaii .sc-payment-btn, .hawaii section .sc-payment-btn, section .ojai .sc-checkout-form .sc-payment-btn, .ojai .sc-checkout-form section .sc-payment-btn { width: 100% !important; }
  body.home .navbar-fixed-top .navbar-collapse .navbar-nav li a { color: #4d5052; }
  body.home .navbar-fixed-top .navbar-collapse .navbar-nav li.signup a { color: white; }
  .navbar.light .navbar-collapse .navbar-nav li.signup a { color: white; }
  .navbar.light .navbar-collapse .navbar-nav li a { color: #4d5052; color: rgba(0, 0, 0, 0.65); }
  .navbar .navbar-header .navbar-brand { font-size: 15px; padding: 0 15px; }
  .navbar .navbar-collapse { padding: 0 15px; float: none !important; background: white; border-top: none; }
  .navbar .navbar-collapse .navbar-nav li { float: left; width: 50%; text-align: center; }
  .navbar .navbar-collapse .navbar-nav li a { padding: 10px !important; line-height: 1; font-size: 14px !important; color: #212121 !important; background: transparent !important; margin-top: 0 !important; }
  .hawaii { background: url("../images/mobile-hawaii-bg.jpg") 50% 50% no-repeat; background-size: cover; min-height: 480px; padding-top: 7em; }
  .hawaii h1 { font-size: 20px !important; }
  .hawaii h2 { font-size: 13px !important; }
  .hawaii h1 small, .hawaii h2 small { font-size: 16px; }
  .hawaii .btn-lg, .hawaii .sc-payment-btn, .hawaii .ojai .sc-checkout-form .sc-payment-btn, .ojai .sc-checkout-form .hawaii .sc-payment-btn { width: 100%; margin: 0 0 10px 0; }
  .hawaii.benefits, .hawaii.features, .hawaii.pricing { min-height: 480px; height: auto; padding: 3em 0 !important; }
  .hawaii.benefits p, .hawaii.benefits p.intro, .hawaii.benefits label, .hawaii.features p, .hawaii.features p.intro, .hawaii.features label, .hawaii.pricing p, .hawaii.pricing p.intro, .hawaii.pricing label { font-size: 14px !important; margin-bottom: 20px !important; }
  .hawaii.benefits p .glyphicon, .hawaii.benefits p.intro .glyphicon, .hawaii.benefits label .glyphicon, .hawaii.features p .glyphicon, .hawaii.features p.intro .glyphicon, .hawaii.features label .glyphicon, .hawaii.pricing p .glyphicon, .hawaii.pricing p.intro .glyphicon, .hawaii.pricing label .glyphicon { display: none !important; }
  .hawaii.benefits h1, .hawaii.features h1, .hawaii.pricing h1 { font-size: 20px !important; }
  .hawaii.benefits ul, .hawaii.features ul, .hawaii.pricing ul { list-style-type: disc; list-style-position: outside; padding: 0; margin: 0 0 30px 20px; }
  .hawaii.benefits ul li, .hawaii.features ul li, .hawaii.pricing ul li { font-size: 14px !important; margin-bottom: 15px !important; }
  .hawaii.benefits ul li .glyphicon, .hawaii.features ul li .glyphicon, .hawaii.pricing ul li .glyphicon { display: none !important; }
  .hawaii.benefits .btn-lg, .hawaii.benefits .sc-payment-btn, .hawaii.features .btn-lg, .hawaii.features .sc-payment-btn, .hawaii.pricing .btn-lg, .hawaii.pricing .sc-payment-btn { width: 100%; margin: 0 0 10px 0; }
  .hawaii.benefits .sc-form-control, .hawaii.features .sc-form-control, .hawaii.pricing .sc-form-control { height: 46px; font-size: 16px; border: 1px solid #023463; border-radius: 4px; text-align: center; overflow: hidden; margin-bottom: 10px; }
  .hawaii.benefits .sc-form-control:active, .hawaii.benefits .sc-form-control:focus, .hawaii.features .sc-form-control:active, .hawaii.features .sc-form-control:focus, .hawaii.pricing .sc-form-control:active, .hawaii.pricing .sc-form-control:focus { border-color: #c7436f; box-shadow: 0 0 10px rgba(199, 67, 111, 0.99); }
  .hawaii.benefits .sc-form-control#first_name, .hawaii.features .sc-form-control#first_name, .hawaii.pricing .sc-form-control#first_name { float: none; text-align: left; width: 100%; margin-right: 0%; margin-bottom: 10px; }
  .hawaii.benefits .sc-form-control#last_name, .hawaii.features .sc-form-control#last_name, .hawaii.pricing .sc-form-control#last_name { float: none; text-align: left; width: 100%; margin-right: 0%; }
  .hawaii.benefits .date, .hawaii.features .date, .hawaii.pricing .date { display: none; }
  .modal.promotion .modal-dialog { width: 100%; height: auto; }
  .modal.promotion .modal-dialog .modal-content .modal-header .modal-title { font-size: 12px; }
  .modal.promotion .modal-dialog .modal-content .modal-body { padding: 1em 15px; }
  .modal.promotion .modal-dialog .modal-content .modal-body h2 { font-size: 20px; }
  .modal.promotion .modal-dialog .modal-content .modal-body p { font-size: 13px; }
  .modal.promotion .modal-dialog .modal-content .modal-body .btn-lg, .modal.promotion .modal-dialog .modal-content .modal-body .hawaii .sc-payment-btn, .hawaii .modal.promotion .modal-dialog .modal-content .modal-body .sc-payment-btn, .modal.promotion .modal-dialog .modal-content .modal-body .ojai .sc-checkout-form .sc-payment-btn, .ojai .sc-checkout-form .modal.promotion .modal-dialog .modal-content .modal-body .sc-payment-btn { width: 100%; margin: 0 0 10px 0; } }
@media screen and (max-width: 580px) { .wrapper { overflow-x: hidden; }
  .breadcrumb { font-size: 12px; }
  section { background: white; padding: 1em 0; }
  section.ash { background: none; }
  section .card { padding: 10px !important; }
  section .card p { font-size: 14px; }
  section .card ul { list-style-position: inside; padding: 0; }
  section .card ul li { font-size: 14px; }
  section .card h1 { text-decoration: underline; }
  section h1, section h2, section h3, section h4, section h5 { line-height: 1.6; }
  section h1 { font-size: 22px !important; }
  section h2 { font-size: 16px !important; }
  section h3 { font-size: 16px !important; }
  section#hero { background: #bddedc; padding: 70px 0 30px; min-height: 320px; }
  section#hero.light { padding: 1.5em 0; }
  section#hero.light h1, section#hero.light h2, section#hero.light ul li { color: white; }
  section#hero h1 { font-size: 22px !important; color: #212121; text-shadow: none; }
  section#hero h2 { font-size: 16px; color: #212121; text-shadow: none; display: none; }
  section#hero ul { margin: 0 0 10px; padding: 0; list-style-type: circle; list-style-position: inside; }
  section#hero ul li { font-size: 15px; margin-bottom: 15px; color: #212121; text-shadow: none; }
  section#hero ul li i { display: none; }
  section#hero .btn, section#hero .hawaii .sc-payment-btn, .hawaii section#hero .sc-payment-btn, section#hero .ojai .sc-checkout-form .sc-payment-btn, .ojai .sc-checkout-form section#hero .sc-payment-btn { width: 100%; margin: 0 0 10px 0; }
  section#faq .panel .panel-heading .panel-title a { font-size: 14px; }
  section#faq .panel .panel-body { font-size: 14px; }
  section#classes h1 { font-size: 30px; }
  section#classes h2 a { font-size: 22px; }
  section#classes .card { margin: 10px; }
  section#doulas .card h2 { font-size: 16px; }
  section#doulas .card h2 small { display: block; font-size: 13px; }
  .footer { font-size: 12px; }
  #signup h1 { font-size: 30px; }
  #signup h1 .nonmobile { display: none; }
  #signup p.intro { font-size: 15px !important; }
  #signup .sc-checkout-form .sc-form-group { float: none; width: 100%; }
  #signup .sc-checkout-form .sc-payment-btn { float: none; width: 100%; }
  #signup .table { background: transparent; border: 1px solid #dadada; }
  #signup .table tbody tr td, #signup .table tbody tr th, #signup .table thead tr td, #signup .table thead tr th { text-align: left; padding: 15px 12px; font-size: 12px; white-space: pre-wrap; }
  #signup .tabbable .nav-tabs li { margin-right: 4px; }
  #signup .tabbable .nav-tabs li:first-child { margin-left: 4px; }
  #signup .tabbable .nav-tabs li a { font-size: 14px; color: #212121; padding: 12px 20px; background: #e9e9e9; border: 1px solid #dadada; }
  #signup .tabbable .nav-tabs li a:hover { background: white; }
  #signup .tabbable .nav-tabs .active a { font-size: 14px; }
  #signup .tabbable .tab-content { padding: 20px 0; }
  #signup .tabbable .tab-content .tab-pane { padding: 0; }
  #signup .tabbable .tab-content .tab-pane .alert { font-size: 12px; } }
